section.display {
    display: grid;
    font-size: 20px;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0 20px;
}

section.display span {
    margin-left: 5px;
}

section.display .stop {
    animation: fade-in 200ms ease-in-out;
}
