section.display {
    display: grid;
    font-size: var(--space);
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--space);
    height: 40px;
    padding: 0 var(--space);
}

section.display span {
    margin-left: 4px;
}

section.display div {
    animation: fade-in 200ms ease-in-out;
    display: flex;
    align-items: flex-end;
}
