#app header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#app header h1 {
    font-size: 20px;
    margin: 0;
}

.time-toggle > * {
    vertical-align: middle;
}
