#app header {
    align-items: center;
    border-bottom: 1px solid var(--gray-light);
    /* color: white; */
    display: flex;
    justify-content: space-between;
    padding: var(--space);
}

#app header h1 {
    font-size: 20px;
    margin: 0;
}

#app header .tools {
    display: flex;
}

.time-toggle {
    display: flex;
    margin-left: var(--space);
}

.time-toggle:hover {
    color: var(--main-text-light);
}

.time-toggle span {
    margin-left: 2.5px;
    transition: color var(--animate);
}
