@import './variables.css';
@import './animation.css';
@import './materialIcons.css';

@import './colorOptions.css';
@import './display.css';
@import './header.css';
@import './rating.css';
@import './rowTools.css';
@import './stopwatch.css';
@import './table.css';

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: var(--main-text);
  padding: 0;
  margin: 0;
}

#app {
  background: white;
  height: 100vh;
  transition: background 200ms ease-in-out;
}

.click {
  cursor: pointer;
}

strong {
  font-weight: 700;
}
