@import './variables.css';
@import './animation.css';
@import './materialIcons.css';

@import './colorOptions.css';
@import './header.css';
@import './rating.css';
@import './rowTools.css';
@import './stopwatch.css';
@import './table.css';

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: var(--main-text);
  padding: 0;
  margin: 0;
}

#app {
  height: 100vh;
  transition: background 200ms ease-in-out;
}

.click {
  cursor: pointer;
}
