.rating {
  color: var(--main-text);
  display: flex;
  font-weight: 700;
  margin-left: -4px;
}

.rating div {
  color: var(--gray-light);
  cursor: pointer;
  transition: color var(--animate-fast);
}

.rating div span {
  vertical-align: middle;
}
