.rating {
  color: var(--main-text);
  display: flex;
  font-weight: 700;
}

.rating div {
  color: var(--gray-light);
  cursor: pointer;
  margin: 0 -2px;
  transition: color var(--animate-fast);
  /* opacity: 0.35; */
}
