.hover {
  color: gold;
}

.rated {
  color: orange;
}

.rating {
  color: var(--main-text);
  display: flex;
  font-weight: 700;
}

.rating div {
  cursor: pointer;
  margin: 0 -2px;
  opacity: 0.35;
}

.one div:first-child,
.two div:nth-child(-n+2),
.three div {
  opacity: 1;
}
