.stopwatch {
    background: linear-gradient(var(--tray-bg), white);
    bottom: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    color: var(--main-text);
    left: 0;
    padding: var(--space);
    position: fixed;
    right: 0;
}

.stopwatch .button,
.stopwatch .display {
    text-align: center;
}

.stopwatch .display {
    align-items: center;
    display: flex;
    font-size: 60px;
    justify-content: center;
    margin: 0 auto var(--space);
}

.stopwatch .button {
    border: 1px solid var(--gray-light);
    border-radius: var(--space);
    cursor: pointer;
    padding: var(--space);
    transition: all var(--animate-fast);
}

/* Colon */

.colon {
    display: flex;
    flex-flow: column nowrap;
    height: 20px;
    justify-content: space-between;
}

.colon::before, .colon::after {
    background: var(--main-text);
    border-radius: 4px;
    content: '';
    height: 4px;
    margin: 0 2.5px;
    width: 4px;
}
