table {
    padding: var(--space);
    width: 100%;
}

tbody {
    display: flex;
    flex-flow: column nowrap;
}

tbody.reverse-chronological {
    flex-direction: column-reverse;
}

tbody.reverse-chronological tr.head {
    order: 1;
}

tr {
    animation: fade-in var(--animate);
    align-items: center;
    display: grid;
    font-size: 14px;
    grid-template-columns: repeat(4, 1fr) 48px;
    grid-gap: var(--space-xs);
    justify-items: flex-start;
    padding: 4px 0;
}

tr:not(.head) {
    border-top: 1px solid var(--gray-light);
}

th, td {
    display: flex;
    align-items: center
}

.flipped {
    transform: scaleY(-1);
}
